name: Update dependencies - bids-matlab, dicm2nii, etc.

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

run-name: ${{ github.actor }} is updating dependencies

on:
  schedule:
  - cron: 0 0 * * 1 # Every monday
  workflow_dispatch:

jobs:
  update-dependencies:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout gannet repo
        uses: actions/checkout@v6

      - name: Checkout bids-matlab repo
        uses: actions/checkout@v6
        with:
          repository: bids-standard/bids-matlab
          path: bids-matlab_tmp/

      - name: Checkout dicm2nii repo
        uses: actions/checkout@v6
        with:
          repository: xiangruili/dicm2nii
          path: dicm2nii_tmp/

      - name: Checkout export_fig repo
        uses: actions/checkout@v6
        with:
          repository: altmany/export_fig
          path: export_fig_tmp/

      - name: Copy files from separate repos to current repo
        run: |
          rsync -av --exclude '.git' bids-matlab_tmp/ bids-matlab/
          rsync -av --exclude '.git' dicm2nii_tmp/ dicm2nii/
          rsync -av --exclude '.git' --exclude '.ignore' export_fig_tmp/ export_fig/
          rm -rf bids-matlab_tmp/ dicm2nii_tmp/ export_fig_tmp/

      - name: Create pull request
        uses: peter-evans/create-pull-request@v8
        with:
          commit-message: Sync with dependencies repos
          assignees: markmikkelsen
          base: main
          delete-branch: true
          title: '[BOT] Update dependencies - bids-matlab, dicm2nii, etc.'
          body: Done by a [GitHub Action](https://github.com/markmikkelsen/Gannet/blob/main/.github/workflows/update_dependencies.yml)

      - name: Delete branch
        if: success()
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          BRANCH_NAME="${GITHUB_REF#refs/heads/}"

          echo "Deleting branch: $BRANCH_NAME"

          curl -X DELETE \
            -H "Authorization: Bearer $GITHUB_TOKEN" \
            -H "Accept: application/vnd.github+json" \
            https://api.github.com/repos/${{ github.repository }}/git/refs/heads/$BRANCH_NAME
